<div class="grid grid-cols-5 gap-5">
    <div class="col-start-2 col-span-3">
        <div class="bg-slate-700 rounded-t-lg p-3 border-2 border-teal-500">
            <div class="text-center text-gray-300 uppercase font-medium text-lg">
                nuevo producto
            </div>
        </div>
        <div
            class="grid grid-cols-3 text-center text-gray-300 gap-3 p-3 border-b-2 border-l-2 border-r-2 border-teal-500 bg-slate-700">
            <div class="col">
                <button routerLink="/"
                    class="p-2 rounded-t-lg w-full hover:bg-red-500 hover:text-gray-600 bg-red-600 duration-300 hover:scale-110">cancelar</button>
            </div>
        </div>
    </div>
    <div class="col-start-2 col-span-3">
        <div class="bg-transparent rounded-b-lg border-2 p-3 border-teal-500">
            <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                <div class="grid grid-cols-5 gap-3 text-gray-300">
                    <div class="col p-2  rounded-lg bg-transparent">
                        <label>ID</label>
                        <p class="text-xl text-center bg-slate-600 p-2 rounded-lg">1</p>
                    </div>
                    <div class="col col-span-2 p-2  rounded-lg bg-transparent">
                        <label>Nombre</label><br>
                        <input class="rounded-lg bg-slate-700 border-2 border-teal-500" type="text"
                            formControlName="nombre">
                        <label class="text-red-500 font-bold"
                            *ngIf="productoForm.controls['nombre'].errors != null && productoForm.controls['nombre'].touched == true">campo requerido</label>
                    </div>
                    <div class="col col-span-2 p-2  rounded-lg bg-transparent">
                        <label>Categoria</label><br>
                        <select class=" w-full rounded-lg bg-slate-700 border-2 border-teal-500" name="" id=""
                            formControlName="categoria">
                            <option value="">seleccione</option>
                            <option value="1">op1</option>
                            <option value="2">op2</option>
                            <option value="3">op3</option>
                        </select>
                        <label class="text-red-500 font-bold"
                            *ngIf="productoForm.controls['categoria'].errors != null && productoForm.controls['categoria'].touched == true">campo requerido</label>
                    
                    </div>
                    <div class="col col-span-2 p-2  rounded-lg bg-transparent">
                        <label>Ubicacion</label><br>
                        <input class="rounded-lg bg-slate-700 border-2 border-teal-500" type="text"
                            formControlName="ubicacion">
                        <label class="text-red-500 font-bold"
                            *ngIf="productoForm.controls['ubicacion'].errors != null && productoForm.controls['ubicacion'].touched == true">campo requerido</label>

                    </div>
                    <div class="col col-span-2 p-2  rounded-lg bg-transparent">
                        <label>Precio</label><br>
                        <input class="rounded-lg bg-slate-700 border-2 border-teal-500" type="number"
                            formControlName="precio">
                        <label class="text-red-500 font-bold"
                            *ngIf="productoForm.controls['precio'].errors != null && productoForm.controls['precio'].touched == true">campo requerido</label>

                    </div>

                    <div class="col col-start-2  col-span-3 rounded-lg bg-transparent">
                        <button type="submit"
                            class="w-full p-2 rounded-lg border-2 border-teal-400 bg-slate-600 hover:bg-slate-800">guardar</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>